@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Work+Sans:wght@400;600;700&display=swap');
:root {
    --dark-cyan: rgb(41, 179, 176);
    --light-cyan: rgb(74 190 189);
    --bright-yellow: rgb(191, 222, 51);
    --yellow: rgb(202 223 96);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
  }

  
  * {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
  }
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 